

{% extends "layout/base.html" %}
{% block title%}
{{ title}}
{%endblock%}

{% block content%}
<main class="main-content">
    <div class="header">
        <h1>{{ title}}</h1>
        <a href="{%url 'student:index'%}" class="back-button">← Retour</a>
    </div>
   
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       
        <div class="form-group">
        {{ student_form }}
        </div>
        <!--<div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" required>
        </div>

        <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" required>
        </div>

        <div class="form-group">
           
            <div class="form-group">
                <label for="gender">Genre :</label>
                <input type="radio" name="gender" value="male"> Homme
                <input type="radio" name="gender" value="female"> Femme
            </div>
            
        </div>

        <div class="form-group">
            <label for="matricule">Matricule</label>
            <input type="text" id="matricule" name="matricule" required>
        </div>

        <div class="form-group">
            <label for="date_naissance">Date de naissance</label>
            <input type="date" id="date_naissance" name="date_naissance" required>
        </div>

        <div class="form-group">
            <label for="classe">Sélectionner une classe</label>
            <select id="classe" name="classe" required>
                <option value="1ere">1ère</option>
                <option value="2nd">2nd</option>
                <option value="3eme">3ème</option>
                <option value="4eme">4ème</option>
                <option value="5eme">5ème</option>
                <option value="6eme">6ème</option>
            </select>
        </div>

        <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="tel" id="telephone" name="telephone" required>
        </div>

        <div class="form-group">
            <label for="ville">Ville</label>
            <input type="text" id="ville" name="ville" required>
        </div>-->

        <div class="form-actions">
            <button type="reset" class="btn cancel">Annuler</button>
            <button type="submit" class="btn save">Enregistrer</button>
        </div>
    </form>
</main>
{% endblock%}
           
        
                
                