
{% extends "layout/base.html" %}

{% block title%}
Liste des élèves
{%endblock%}
    
{% block content%}
<main>
    <div class="recent-orders" id="dashboard">
        <div class="header">
            <h2>Elèves (2)</h2>
            <a href="{% url 'student:add' %}" class="new-student-btn">+ Nouvel élève</a>   
        </div>
        <form class="" method="GET">
            <input type="text" id="myInput" name="search" value="{{search_field}}" placeholder="Rechercher...">
            <button onclick="" class="new-student-btn"> Rechercher</button>

        </form>
        
        {% for msg in messages  %}
        {%  endfor  %}
        
        <table id="MyTable" class="tab">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prènom</th>
                    <th>Date naissance</th>
                    <th>Télephone</th>
                    <th>Genre</th>
                    <th>Numero du pere</th>
                    
                    <th>Matricule</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for student in students%}
                <tr>
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>{{student.birthday }}</td>
                    <td>{{student.phone_number}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.phone_number_father}}</td>
                    <td>{{student.matricule}}</td>
                    
                    <td >
                        <a href="{% url 'student:update' student.id%}"><button class="btn edit">Modifier</button></a>
                        <button id="deleteButton" class="btn delete" data-url={%url 'student:delete' id=student.id%}   >Supprimer</button> 
                    </td>

                </tr>
                {%  endfor  %}
                
            </tbody>
        </table>
        
    </div>
    <div class="alert">
        <p>ATTENTION !!</p>
        <p>Voulez-vous vraiment supprimer cet éleve?</p>
        <button id="confirmDelete">Oui</button>
        <button id="cancelDelete">Non</button>
    </div>

    
</main>
    
{% endblock%}
            