
{% extends "layout/base.html" %}

{% block title%}
Liste des parametres de l'ecole
{% endblock %}

{% block content%}
<main>
                
    <div class="recent-orders">
        <div class="header">
            <h2>AppSetting ({{total}})</h2>
            {% comment %} <a href="{%url 'appsetting:add' %}" class="new-student-btn">+ Nouveau AppSetting</a>    {% endcomment %}
        </div>
        {% if appsetting %}
        <table>
            <thead>
                
                <tr>
                    <th>smtp_server</th>
                    <th>smtp_port</th>
                    <th>smtp_username</th>
                    <th>smtp_password</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for app in appsetting %}
                    <tr>
                        <td>{{app.smtp_server}}</td>
                        <td>{{app.smtp_port}}</td>
                        <td>{{app.smtp_username}}</td>
                        <td>{{app.smtp_password}}</td>
                        <td >
                             <a href="{% url  'appsetting:update' id=app.id %}"><button  class="btn edit">Modifier</button></a> 

                            {% comment %} <button id="deleteButton" data-url={% url 'appsetting:delete' id=appsetting.id %} class="btn delete">Supprimer</button>  {% endcomment %}
                            
                        </td>

                    </tr>
                {% endfor %} 
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="alert">
        <p>ATTENTION !!</p>
        <p>Voulez-vous vraiment supprimer cette professeur.</p>
        <button id="confirmDelete">Oui</button>
        <button id="cancelDelete">Non</button>
    </div>
</main>

{% endblock %}
            
                