{% extends 'layout/base.html'%}

{% block title%}
 {{ title}}  
{% endblock%}

{% block content%}

{% load crispy_forms_tags %}
<main class="main-content">
    <div class="header">
        <h1>{{ title  }}</h1>
        <a href="{%url 'teacher:index'%}" class="back-button">← Retour</a>
    </div>
    
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
        
            {{ teacher_form}} 
         </div>

         <h3> address</h3>
        <div class="form-group">
            {{address_form }}
        </div>
        <h3> Utilisateurs</h3>
        <div class="form-group">
            {{user_form }}
        </div>
         

        <div class="form-actions">
            <button type="reset" class="btn cancel">Annuler</button>
            <button type="submit" class="btn save">Enregistrer</button>
        </div>
    </form>
</main>
{% endblock%}
            
            
               