
{% extends "layout/base.html" %}

{% block title%}
Liste des professeurs
{% endblock %}

{% block content%}
<main>
                
    <div class="recent-orders">
        <div class="header">
            <h2>Professeurs ({{total}})</h2>
            <a href="{%url 'teacher:add' %}" class="new-student-btn">+ Nouveau Professeur</a>   
        </div>
        
        <table>
            <thead>
                
                <tr>
                    <th>Nom</th>
                    <th>Prènom</th>
                    <th>Date de naissance</th>
                    <th>Sexe</th>
                    <th>Numero</th>
                    <th>speciality</th>
                    <th>Action</th>
                </tr>
            </thead>
            
                <tbody>
                    {% if teachers  %}
                        {% for teacher in teachers%}
                        <tr>
                            <td>{{teacher.first_name}}</td>
                            <td>{{teacher.last_name}}</td>
                            <td>{{teacher.birthday}}</td>
                            <td>{{teacher.gender}}</td>
                            <td>{{ teacher.phone_number }}</td>
                            <td>{{teacher.speciality}}</td>
                            <td >
                                <a href="{% url  'teacher:update' id=teacher.id %}"><button  class="btn edit">Modifier</button></a>

                                <button id="deleteButton" data-url={%url 'teacher:delete' id=teacher.id%} class="btn delete">Supprimer</button> 
                                
                                
                                
                            </td>

                        </tr>
                        {% endfor %} 

                    {% else %}
                    <tr>
                        <td> Aucun professeur enregistreé </td>
                    {% endif %}
                    </tr>
                </tbody>
             

        </table>
        
    </div>
    <div class="alert">
        <p>ATTENTION !!</p>
        <p>Voulez-vous vraiment supprimer cette professeur.</p>
        <button id="confirmDelete">Oui</button>
        <button id="cancelDelete">Non</button>
    </div>
</main>

{% endblock %}
            
                