

{% extends "layout/base.html" %}
{% block title%}
{{ title}}
{%endblock%}

{% block content%}
<main class="main-content">
    <div class="header">
        <h1>{{ title}}</h1>
        <a href="{%url 'studentcard:index'%}" class="back-button">← Retour</a>
    </div>
   
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       
        <div class="form-group">
        {{ stucards_form }}
        </div>

        <div class="form-actions">
            <button type="reset" class="btn cancel">Annuler</button>
            <button type="submit" class="btn save">Enregistrer</button>
        </div>
    </form>
</main>
{% endblock%}
           