{% extends 'layout/base.html'%}

{% block title%}
Liste des utilisateurs
{% endblock%}

{% block content%}
<main>
                
    <div class="recent-orders">
        <div class="header">
            <h2>Utilisateur (2)</h2>
            <a href="{%url 'user:add' %}" class="new-student-btn">+ Nouveau utilisateur</a>   
        </div>
        <form class="" method="GET">
            <input type="text" id="myInput" name="search" value="{{search_field}}" placeholder="Rechercher...">
            <button onclick="" class="new-student-btn"> Rechercher</button>

        </form>
        
        <table>
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Date de creation</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users%}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.date_joined|date:"Y-m-d"}}</td>
                    <td>
                        <a href={% url 'user:update' user.id %}><button  class="btn edit">Modifier</button></a>
                        
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
   
</main>
   
{% endblock %}
           
          